.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 40px;
    align-items: stretch;
}

.content>.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.502);
    border-top: 1px solid rgba(128, 128, 128, 0.502);
}
.content>.item>.actions{
    display: flex;
    gap: 20px;
    align-items: center;
}

  span.marked{
    text-decoration: line-through 1px solid;
    font-style: italic;
    color: grey;
  }
span.marked::after{
    content: "(marked as done)";
    color: rgba(0, 128, 0, 0.461);
    font-size: 13px;
    margin: 0 5px;
    display: inline-block;
}


@media screen and (max-width:500px) {
  .content>.item{
    justify-content: center;
  }
}